{% extends 'base.html' %}
{% block title %}
    About us
{% endblock title %}
{% block body %}
<center>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/static/srishti.jpg" alt="Srishti">
        <div class="card-body">
          
          <p class="card-text">Hi! My name is Srishti and this is my first app using Flask. It is a basic CRUD application that lets you add, delete,update and display your tasks. Click on the link below to use it!</p>
          <a href="/" class="btn btn-primary">ToDo List</a>
        </div>
      </div>
  </center>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
    {% endblock body %}